/* Generics Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;}

/* Header */

.header {
  height: 80px;
  background-color: #255EE9;
}

.header > .container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10%;
}

.header > .container > * {
  width: 15%;
  padding: 10px;
  background-color: #255EE9;
  height: 50px;
}

.header > .container > .header__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  align-items: center;
  gap: 40px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.header_button {
  display: flex;
  color: rgb(0, 0, 0);
  background-color: white ;
}

#button_accedi {
  background-color: white;
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

/* First Wrapper */
.first-wrapper{
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-image: url(../img/jumbo.png);
  background-repeat: round;
}

.container-first-box{
  max-width: 100%;
}

.first-box-pink{
  text-align: center;
  width: 100%;
  height: 390px;
  margin: 40px auto;
}

h1{
  color: white;
  font-size: 70px;
  margin-bottom: inherit;
  padding-top: 35px
}

.paragraph-first-box {
  color: white;
  font-size: 24px;
  line-height: 37px
}

.buttons_paragraph {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: large;
}

.button_scarica {
  color: #23272A;
  background-color: white;
  padding: 15px 30px;
  border-radius: 25px;
}

.button_open_discord {
  color: white;
  background-color: #23272A;
  padding: 15px 30px;
  border-radius: 25px;
}


/* Second Wrapper */
.second-wrapper{
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
}

.second-container{
  display: flex;
  width: 70%;
}

.second-box-img{
  width: 60%;
  margin: 40px auto;
}

.second-box-text{
  width: 40%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-box-text > h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.second-box-text > p {
  line-height: 26px;
  font-weight: 600;
}



/* Third Wrapper */
.third-wrapper{
  display: flex;
  background-color: #F6F6F6;
  justify-content: center;
}

.third-container{
  display: flex;
  width: 80%;
}

.third-box-text{
  display: flex;
  width: 40%;
  margin: 40px auto;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.third-box-text > h2{
  font-size: 40px;
  margin-bottom: 15px;
}

.third-box-text > p{
  line-height: 26px;
  font-weight: 600;
}

.third-box-img{
  width: 60%;
  margin: 40px auto;
}


/* Fourth Wrapper */
.fourth-wrapper{
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
}

.fourth-container{
  display: flex;
  width: 80%;
}

.fourth-box-img{
  width: 60%;
  margin: 40px auto;
}

.fourth-box-text{
  display: flex;
  width: 40%;
  margin: 40px auto;
  flex-direction: column;
  justify-content: center;
}

.fourth-box-text > h2{
  font-size: 40px;
  margin-bottom: 15px;
}

.fourth-box-text > p{
  line-height: 26px;
  font-weight: 600;
}

/* Fifth Wrapper */
.fifth-wrapper{
  background-color: #F6F6F6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 130px;
}


.fifth-box-text{
  text-align: center;
  width: 80%;
  margin: 100px auto;
  margin-bottom: 0px;
}

.fifth-box-text > h2{
  font-size: 40px;
  margin-bottom: 15px;
}

.fifth-box-text > p{
  line-height: 26px;
  font-weight: 600;
}

.fifth-box-img{

}

.fifth-box-bottom{
  background-image: url(../img/stars.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
  width: 100%;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
}

.fifth-box-bottom > h3{
  font-size: 27px;
  font-weight: bolder;
}


.button_scarica_fifth{
  width: max-content;
  color: white;
  background-color: #8EA1E1;
  padding: 15px;
  border-radius: 25px;

}


/* Sixth Wrapper */
.sixth-wrapper{
  display: flex;
  background-color: #23272A;
  justify-content: center;
}

.sixth-container{
  display: flex;
  width: 80%;
  padding-top: 70px;
}

.sixth-box-plate{
  height: 390px;
  margin-top: 10px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.sixth-box-plate > h3{
  color: #7289DA;
  font-size: 30px;
}

.language > .flag{
  width: 19px;
  margin: 0 10px;
  margin-left: 0;
}

.language {
  margin: 20px 0;
  color: white;
}

.social > img {
  width: 25px;
  margin: 0px 7px;
  margin-left: 0;
}

.sixth-box-container{
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  gap: 140px;
  width: 60%;
}

ul{
  color: #7289DA;
}

li {
  list-style: none;
  line-height: 30px;
  font-size: 13px;
  font-weight: bolder;
  color: white;
}

hr{
  border: 1px solid grey;
}

/* Footer Wrapper */
.footer-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #23272A;
  justify-content: center;
  align-items: center;
}

.footer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7FFFD4;
  width: 80%;
  height: 55px;
  margin-top: 10px;
}

.footer-logo{
  background-color: #F08080;
  border: 1px dashed black;
}

.footer-button{
  background-color: #F08080;
  border: 1px dashed black;
}



