/* Generics Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;}

/* Header */

.header {
  height: 80px;
  background-color: #255EE9;
}

.header > .container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10%;
}

.header > .container > * {
  width: 15%;
  padding: 10px;
  background-color: #255EE9;
  height: 50px;
}

.header > .container > .header__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  align-items: center;
  gap: 40px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.header_button {
  display: flex;
  color: rgb(0, 0, 0);
  background-color: white ;
}

#button_accedi {
  background-color: white;
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

/* First Wrapper */
.first-wrapper{
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-image: url(../img/jumbo.png);
  background-size: contain;
  background-repeat: round;
}

.container-first-box{
  max-width: 100%;
}

.first-box-pink{
  text-align: center;
  width: 100%;
  height: 390px;
  margin: 40px auto;
}

h1{
  color: white;
  font-size: 55px;
  margin-bottom: inherit;
  padding-top: 56px
}

.paragraph-first-box {
  color: white;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: -0.5px
}

.buttons_paragraph {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: large;
}

.button_scarica {
  color: #23272A;
  background-color: white;
  padding: 15px 30px;
  border-radius: 25px;
}

.button_open_discord {
  color: white;
  background-color: #23272A;
  padding: 15px 30px;
  border-radius: 25px;
}


/* Second Wrapper */
.second-wrapper{
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
}

.second-container{
  display: flex;
  width: 80%;
}

.second-box-blu{
  background-color: #1E90FF;
  width: 60%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

.second-box-pink{
  background-color: #FFC0CB;
  width: 40%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

/* Third Wrapper */
.third-wrapper{
  display: flex;
  background-color: #D3D3D3;
  justify-content: center;
}

.third-container{
  display: flex;
  width: 80%;
}

.third-box-pink{
  background-color: #FFC0CB;
  width: 40%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

.third-box-blu{
  background-color: #1E90FF;
  width: 60%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

/* Fourth Wrapper */
.fourth-wrapper{
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
}

.fourth-container{
  display: flex;
  width: 80%;
}

.fourth-box-blu{
  background-color: #1E90FF;
  width: 60%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

.fourth-box-pink{
  background-color: #FFC0CB;
  width: 40%;
  height: 390px;
  margin: 40px auto;
  border: 1px dashed black;
}

/* Fifth Wrapper */
.fifth-wrapper{
  display: flex;
  background-color: #D3D3D3;
  justify-content: center;
}

.fifth-box-green{
  background-color: #228B22;
  width: 80%;
  height: 1000px;
  margin: 40px auto;
  border: 1px dashed black;
}

/* Sixth Wrapper */
.sixth-wrapper{
  display: flex;
  background-color: #23272A;
  justify-content: center;
}

.sixth-container{
  display: flex;
  width: 80%;
}

.sixth-box-pink{
  background-color: #F08080;
  height: 390px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 1px dashed black;
  flex-grow: 1;
}

.sixth-container-blu{
  display: flex;
  width: 25%;  
  margin-top: 10px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.sixth-box-blu{
  background-color: #20B2AA ;
  width: 25%;
  height: 390px;
  border: 1px dashed white;
}

hr{
  border: 1px solid grey;
}

/* Footer Wrapper */
.footer-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #23272A;
  justify-content: center;
  align-items: center;
}

.footer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7FFFD4;
  width: 80%;
  height: 55px;
  margin-top: 10px;
}

.footer-logo{
  background-color: #F08080;
  border: 1px dashed black;
}

.footer-button{
  background-color: #F08080;
  border: 1px dashed black;
}



